:root{
    --beige:rgb(247, 217, 191);
}

*{
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    position: relative;
}

body{
    max-width: 100svw;
    height: 100svh;
    font-family: "Delius", cursive;
}

.recipes-body{
    background-color: darkslategrey;
}

.restaurant-body{
    margin-top: 70px;
    background-color: var(--beige) ;
}
h1{
    color: rgb(221, 189, 161);
    text-align: center;
    margin: 1% 0px 3% 0px;
    padding: 40px;
    background-color: darkslategray;
    box-shadow: 0px 0px 10px black;
}

.recipes{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
    padding: 10px;
}

.recipe{
    box-shadow: 0px 0px 10px black;
    width: 350px;
    background-color: rgb(129, 129, 129);
    border-radius: 10px;
    transition: all 0.5s linear;
}

.recipe:hover{
    transform: scale(1.05);
}

.paragraphs{
    padding: 20px;

}

.recipe img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.layout{
    position: absolute;
    width: 100%;
    height: 350px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(47, 79, 79, 0.595);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.recipe:hover .layout{
   visibility: visible;
}

.view-recipe{
    border-radius: 5px;
    padding: 10px 15px;
    color: darkslategray;
    background-color: antiquewhite;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s linear;
}

.view-recipe:hover{
    background-color: darkslategray;
    color: antiquewhite ;
}

.recipe-name{
    font-size: 20px;
    font-weight: bold;
    color: darkslategray;
    margin: 5px 0px 10px 0px;
}

.ingredients{
    padding: 7px 0px;
}

.preparing-time span , .cooking-time span{
    color: darkslategray;
    font-weight: bold;
}

.search-input{
    display: block;
    margin: 20px auto 5% auto;
    box-shadow: 0px 0px 10px black;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: var(--beige);
    width: 40%;
   
}

.search-input:focus{
    outline: 2px solid rgb(211, 162, 118);
}

.not-found{
    color: var(--beige);
    margin: 10% auto;
    font-size: 3rem;
}

::selection{
    background-color: var(--beige);
    color: darkslategray;
}

/* -----------------------------------------Welcome Page-------------------------------- */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: darkslategray;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    z-index: 99999;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px 20px;
}

nav ul a {
    font-size: 20px;
    color: var(--beige);
    font-weight: bold;
}

nav ul li a:hover{
    box-shadow: 0px 0px 10px rgb(52, 152, 152);
    border-radius: 10px;
    padding: 5px;
}

.restaurant{
    font-size: 30px;
    color: var(--beige);
}

.home{
    background-image: url(Media/restaurantt.jpg);
    min-height: 70svh;
    background-size: cover;
    background-position: center;
}

.home-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.462); 
    z-index: 0;
}
.p{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: rgb(255, 225, 199);
    font-weight: bold;
    
}
.welcome{
    font-size: 40px;
    padding: 20px;
    animation: welcome 2s linear  infinite;
}

.welcome::before{
    content: "|";
    animation-name: welcome ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    font-size: 45px;
}

.sub-title{
    font-size: 20px;
    padding: 5px 0px 30px 0px;
}

.des{
    width: 40%;
}


.about{
    width: 55%;
    margin: 5% auto 0px auto;
    box-shadow: 0px 0px 5px black;
    height: 60svh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: darkslategray;
    border-radius: 10px;
    padding: 20px;
    color: var(--beige);
}

.about h2{
    font-size: 40px;
}

.about h2::before{
    content: "";
    position: absolute;
    bottom: -4px;
    width: 100px;
    height: 3px;
    background-color: var(--beige);
    left: 50%;
    transform: translateX(-50%);
}

.about p{
    font-size: 20px;
}

.contact-us{
    background-color: darkslategray;
    margin: 7% auto;
    width: 55%;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    color: var(--beige);
    padding: 30px;

}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.contact-us h2 {
    font-size: 40px;
}

.contact-us h2::before{
    content: "";
    position: absolute;
    bottom: -4px;
    width: 100px;
    height: 3px;
    background-color: var(--beige);
    left: 50%;
    transform: translateX(-50%);
}

.contact-us p{
    width: 60%;
    font-size: 20px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    font-size: 25px;
    margin-top: 30px;
    padding: 20px;
}

.input-div{
    width: 100%;
}
.contact-form input{
    background-color: var(--beige);
    padding: 15px 20px;
    border-radius: 10px;
    width: 75%;
    
}

.message{
    height: 100px;
    margin-top: 10px;
}

.contact-form input:focus{
    outline: 2px solid rgb(43, 126, 126);
}

.btn{
    border-radius: 10px;
    padding: 15px 40px;
    background-color: var(--beige);
    margin: 20px auto;
    text-align: center;
    transition: all 0.5s linear;
    font-weight: bold;
    color: darkslategray;
}

.btn:hover{
    background-color: darkslategray;
    color: var(--beige);
    box-shadow: 0px 0px 10px black;

}
footer{
    background-color: darkslategray;
    color: var(--beige);
    height: 70px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;

}



@keyframes welcome {
    0%{
        content: "We|";
    }
     10%{
        content: "Welco|";
    }
     20%{
        content: "Welcome |";
    }
     30%{
        content: "Welcome t|";
    }
     40%{
        content: "Welcome to M|";
    }
     50%{
        content: "Welcome to MyR|";
    }
     60%{
        content: "Welcome to MyRes|";
    }
     70%{
        content: "Welcome to MyResta|";
    }
     80%{
        content: "Welcome to MyRestaur|";
    }
     90%{
        content: "Welcome to MyRestauran|";
    }
     100%{
        content: "Welcome to MyRestaurant \2764 |";
    }
    
}

@media (max-width:432px) {
    .restaurant{
        font-size: 20px;
        margin-bottom: 7px;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav ul li{
        font-size: 15px;
    }

    
}

@media (max-width:1024px) {
     .about , .contact-us{
        width: 90%;
        height: auto;
    }
    .des{
        width: 100%;
    }
    .contact p{
        width: 100%;
    }
    footer{
        font-size: 15px;
    }
    
}

@media (max-width:432px) {
    .recipes{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .recipe{
        width: 300px;
    }
    h1{
        padding: 20px;
    }
    .ingredients{
        font-size: 13px;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: darkslategray;
        height: auto;
        font-size: 15px;
    }
}